*
{
    margin: 0;
    padding: 0;  
}

body 
{
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

p, li
{    
    font-size: 14px;   
}


p, h1, h2, h3 h4, strong, button, a 
{
    font-family: 'Montserrat', sans-serif;
}

h2
{
    padding-bottom: 30px;
}

.ostale_nekretnine
{
    background-color: #1a1a1a;
}







/*==navigation==*/

.header
{
    padding-bottom: 100px;
}

.navbar
{
    background-color: #303133;
    border-bottom: none;
}

.navbar-collapse a
{
    color: #e3e8ef;
}

.navbar-default .navbar-nav > li > a
{
    color: #eff1f4;
}

.navbar-default .navbar-nav > li > a:hover
{
    color: #8b8d91;
}

.row
{
    padding-bottom: 80px;
}

.col-lg-2 .svg-inline--fa
{
    color: #303133; 
}


.col-lg-12 p, .col-lg-2 p
{
    color: #303133;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #8b8d91;
}

img
{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;
}

.col-md-4:hover img
{
    transition: transform 0.35s;
    transform: scale(1.10);
    cursor: pointer;
}


p, h1, h2, h3 h4, strong, button, a 
{
    font-family: 'Montserrat', sans-serif;
}


* 
{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.row
{
    text-align: center
}

h4
{
    text-align: content: '';
    padding-top: 5%;
}

.header
{
    padding-bottom: 140px;
}



/*INFO O NEKRETNINAMA*/
.property_short
{
    -webkit-box-shadow: 0px 0px 2px 0px rgba(239,241,244,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(239,241,244,1);
    box-shadow: 0px 0px 2px 0px rgba(239,241,244,1);
    margin-bottom: 100px;
}

.property_short:hover
{
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(239,241,244,1);
    -moz-box-shadow: 0px 0px 3px 2px rgba(239,241,244,1);
    box-shadow: 0px 0px 3px 2px rgba(239,241,244,1);
}

.property_short:hover img
{
    border: 1px;
    transition: transform 0.35s;
    transform: scale(1.08);
}


.property_short:hover hr
{
    -webkit-transition: width 2.5s;
    transition: width 2.3s;
    content: '';
    border-color: #337ab7; 
}



.property_short_image
{
    position: relative;
    overflow: hidden;
}

.property_short_content p
{
    color: #eff1f4;
}


.ostale_nekretnine
{
    text-align: center;
}


.ostale_nekretnine, h2
{
    color: #eff1f4;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 25px;
}

.ostale_nekretnine .container h2, h4
{
    color: #eff1f4;
    text-align: center;
}

.svg-inline--fa
{
    color: #eff1f4;
}

img
{
    position: relative;
    float: left;
    width:  100%;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:  cover;
}

.loading_line
{
    width: 70%;
    margin-left: 13%;
    position: relative;
    margin-top: 10px;
}



/*BOJE SIMBOLA NA KARTICAMA*/
.fa-money-bill-alt
{
    color: #388931;
}

.fa-map-marker-alt
{
    color: #f23004;
}

.fa-arrows-alt
{
    color: #6b5b26;
}

.fa-handshake
{
    color: #5f94e2; 
}




/*cijeli div kao link --> uređivanje*/
.col-lg-4 a
{
    text-decoration: none;
    color: #303133;
}   


.map
{
    padding-top: 4px;
}




/*FOOTER*/
.footer1
{
   margin-top: 30px;
}


.center-feature
{
    padding-left: 70px;
}


.col-md-4 .center-feature h5
{
    text-align: center;
}


.center-feature p a
{
    color: whitesmoke;
}


.left-feature
{
    color: white;
}


.right-feature
{
    color:white ;
}


.footer
{
    background-color: #1a1a1a;
    padding-bottom: 35px;
    padding-top: 50px;  
}


#copyright
{
    width: 50%;
}


#copyright p
{
    color: #8C8B8A;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}


#copyright p a
{
    text-decoration: none;
    color: #337ab7;
}


.scroll-top
{
    text-align: right;
}


.scroll-top a
{
    background-color:#1a1a1a;
    padding: 25px;
    color: #8C8B8A;
    font-size: 25px;
}

.scroll-top a:hover
{
    background-color: #8C8B8A;
    color: black;
    -webkit-transition: 1s;
    transition: 1s;
}

svg-inline--fa
{
    background-color: #1a1a1a;
    -webkit-transition: 1s;
    transition: 1s;
}


.center-feature h5
{
    color: #8C8B8A;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.right-feature h5
{
    color: #8C8B8A;
    font-family: 'Montserrat', sans-serif;
}

.center-feature p a
{
    color: #337ab7;
    font-family: 'Montserrat', sans-serif;
}

.left-feature h5, p
{
    color: #8C8B8A;
    font-family: 'Montserrat', sans-serif;

}


.pod
{
    font-family: 'Montserrat', sans-serif;
    color: #8C8B8A;
    text-align: left;
    display: inline-block;
}

.right-feature h5
{
    color: #8C8B8A;
    font-family: 'Montserrat', sans-serif;
}

.footer_section
{
    padding-top: 80px;
}

    

#KONTAKT .left-feature .fa-envelope, .fa-mobile, .fa-home
{
    color: #eff1f4;
}

.col-md-4, .center-feature .fa-home
{
    color: #337ab7;
}


.copyright
{
    margin-bottom: 30px;
}

.col-md-4 .left-feature .map
{
    margin-right: 40px;
}








